<!-- home start -->
<section class="bg-home bg-gradient" id="home">
    <div class="home-center">
        <div class="home-desc-center">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="home-title mo-mb-20 text-center">
                            <h1 class="mb-4 text-white">This can be a cool headline to draw in Sleep Consultants</h1>
                            <p class="text-white-50 mb-4 text-center">If you're sick of wasting time with admin and want to spend more time sleeping, then this product is for you... </p>
                            
                </div>
                <!-- end row -->
            </div>
            <!-- end container-fluid -->
        </div>
    </div>
</section>
<!-- home end -->

<!-- clients start -->
<section>
    <div class="container-fluid">
        <div class="clients p-4 bg-white">
            <div class="row">
                <div class="col-md-3">
                    <div class="client-images">
                        <img src="/template-assets/landing/clients/6.png" alt="logo-img" class="mx-auto img-fluid d-block">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="client-images">
                        <img src="/template-assets/landing/clients/6.png" alt="logo-img" class="mx-auto img-fluid d-block">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="client-images">
                        <img src="/template-assets/landing/clients/6.png" alt="logo-img" class="mx-auto img-fluid d-block">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="client-images">
                        <img src="/template-assets/landing/clients/6.png" alt="logo-img" class="mx-auto img-fluid d-block">
                    </div>
                </div>
            </div> <!-- end row -->
        </div>
    </div> <!-- end container-fluid -->
</section>
<!-- clients end -->

<!-- features start -->
<section class="section-sm" id="features">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-4 pb-1">
                    <h3 class="mb-3">This product will send you to fucking sleep</h3>
                    <p class="text-muted">It really is dull and you will feel refreshed</p>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row">
            <div class="col-lg-4">
                <div class="features-box">
                    <div class="features-img mb-4">
                        <img src="/template-assets/landing/icons/layers.png" alt="">
                    </div>
                    <h4 class="mb-2">Feature 1</h4>
                    <p class="text-muted">Here's some gumf about the first great feature. Seriously, it's great and you'll love it too.</p>
                </div>
            </div>
            <!-- end col -->
            <div class="col-lg-4">
                <div class="features-box">
                    <div class="features-img mb-4">
                        <img src="/template-assets/landing/icons/core.png" alt="">
                    </div>
                    <h4 class="mb-2">Feature 2</h4>
                    <p class="text-muted">Here's some gumf about the second great feature. Seriously, it's great and you'll love it too.</p>
                </div>
            </div>
            <!-- end col -->
            <div class="col-lg-4">
                <div class="features-box">
                    <div class="features-img mb-4">
                        <img src="/template-assets/landing/icons/paperdesk.png" alt="">
                    </div>
                    <h4 class="mb-2">Feature 3</h4>
                    <p class="text-muted">Here's some gumf about the third great feature. Seriously, it's great and you'll love it too.</p>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->

        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="features-box">
                    <div class="features-img mb-4">
                        <img src="/template-assets/landing/icons/solarsystem.png" alt="">
                    </div>
                    <h4 class="mb-3">Feature 4</h4>
                    <p class="text-muted">Here's some gumf about the fourth great feature. Seriously, it's great and you'll love it too.</p>
                </div>
            </div>
            <!-- end col -->
            <div class="col-lg-4">
                <div class="features-box">
                    <div class="features-img mb-4">
                        <img src="/template-assets/landing/icons/datatext.png" alt="">
                    </div>
                    <h4 class="mb-3">Feature 5</h4>
                    <p class="text-muted">Here's some gumf about the fifth great feature. Seriously, it's great and you'll love it too.</p>
                </div>
            </div>
            <!-- end col -->
            <div class="col-lg-4">
                <div class="features-box">
                    <div class="features-img mb-4">
                        <img src="/template-assets/landing/icons/browserscript.png" alt="">
                    </div>
                    <h4 class="mb-3">Feature 6</h4>
                    <p class="text-muted">Here's some gumf about the sixth great feature. Seriously, it's great and you'll love it too.</p>
                </div>
            </div>
            <!-- end col -->
        </div> <!-- end row -->
    </div> <!-- end container-fluid -->
</section>
<!-- features end -->

<!-- available demos start -->
<section class="section bg-light" id="demo">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="title text-center mb-3">
                    <h3>Checkout this video demo</h3>
                    <p class="text-muted">Look how sleepy the product makes you.</p>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row justify-content-md-center">
            <div class="col-lg-6 col-md-6">
                    <iframe src="https://player.vimeo.com/video/163721649" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
<p><a href="https://vimeo.com/163721649">Placeholder Video</a> from <a href="https://vimeo.com/armchair">Armchair Videos</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
            </div>
            <!-- end col -->
           
            <!-- end col -->
        </div>
        <!-- end row -->
    </div> <!-- end container-fluid -->
</section>
<!-- available demos end -->

<!-- features start -->
<section class="section">
    <div class="container-fluid">

        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-4 pb-1">
                    <h3>More features?</h3>
                    <p class="text-muted">Sure, we can tell some super engaging stories here that will make people want to sleep even more.</p>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="feature-img">
                    <img src="https://placekitten.com/g/800/300" alt="" class="img-fluid mx-auto d-block">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="p-5 features-content">
                    
                    <h3 class="mb-3">Come on, hit me with something interesting</h3>
                    <p class="text-muted mb-4">
                        You heard. Something interesting I said. You're currently reading Bill Ipsum.
                    </p>
                    <a href="#" class="btn btn-light btn-sm">Learn More <i class="mdi mdi-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row align-items-center mt-5">
            <div class="col-lg-6">
                <div class="p-5 features-content">
                    <h3 class="mb-3">Here's another great thing we've got to say</h3>
                    <p class="text-muted mb-4">
                        No wonder we're millionaires. This product is the dogs balls.
                    </p>
                    <a href="#" class="btn btn-light btn-sm">Learn More <i class="mdi mdi-arrow-right"></i></a>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="feature-img">
                    <img src="https://placekitten.com/g/800/300" alt="" class="img-fluid mx-auto d-block">
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container-fluid -->
</section>
<!-- features end -->

<!-- pricing start -->
<section class="section pb-0 bg-gradient" id="pricing">
    <div class="bg-shape">
        <img src="/template-assets/landing/bg-shape.png" alt="" class="img-fluid mx-auto d-block">
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-4">
                    <h3 class="text-white">Choose Our Pricing Plans</h3>
                    <p class="text-white-50">Right. Enough reading. Hand over your cash. Sure we're expensive, but we promise you that you don't want cheap software.</p>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="row align-items-center">
                    <div class="col-lg-4">
                        <div class="pricing-plan bg-white p-4 mt-4">
                            <div class="pricing-header text-center">
                                <h5 class="plan-title text-uppercase mb-4">Package</h5>
                                <h1><sup><small>£</small></sup>0.50</h1>
                                <div class="plan-duration text-muted">Per License</div>
                            </div>
                            <ul class="list-unstyled pricing-list mt-4">
                                <li>
                                    <i class="mdi mdi-album"></i>
                                    <p>x</p>
                                </li>
                                <li>
                                    <i class="mdi mdi-lifebuoy"></i>
                                    <p>x<p>
                                </li>
                                <li>
                                    <i class="mdi mdi-update"></i>
                                    <p>x</p>
                                </li>
                                <li>
                                    <i class="mdi mdi-earth"></i>
                                    <p>x<p>
                                </li>
                                <li>
                                    <i class="mdi mdi-history"></i>
                                    <p>x</p>
                                </li>
                                <li>
                                    <i class="mdi mdi-alarm-check"></i>
                                    <p>x</p>
                                </li>
                            </ul>
                            <div class="text-center mt-5">
                                <a href="#" class="btn btn-primary">Purchase Now</a>
                            </div>
                        </div>
                    </div> <!-- end col -->

                    <div class="col-lg-4">
                        <div class="pricing-plan bg-white p-4 mt-4">
                            <span class="lable">Popular</span>
                            <div class="pricing-header text-center">
                                <h5 class="plan-title text-uppercase mb-4">Package</h5>
                                <h1><sup><small>£</small></sup>1000.50</h1>
                                <div class="plan-duration text-muted">Per License</div>
                            </div>
                            <ul class="list-unstyled pricing-list mt-4">
                                <li>
                                    <i class="mdi mdi-album"></i>
                                    <p>x</p>
                                </li>
                                <li>
                                    <i class="mdi mdi-lifebuoy"></i>
                                    <p>x<p>
                                </li>
                                <li>
                                    <i class="mdi mdi-update"></i>
                                    <p>x</p>
                                </li>
                                <li>
                                    <i class="mdi mdi-earth"></i>
                                    <p>x<p>
                                </li>
                                <li>
                                    <i class="mdi mdi-history"></i>
                                    <p>x</p>
                                </li>
                                <li>
                                    <i class="mdi mdi-alarm-check"></i>
                                    <p>x</p>
                                </li>
                            </ul>
                            <div class="text-center mt-5">
                                <a href="#" class="btn btn-primary">Purchase Now</a>
                            </div>
                            <span class="lable">Popular</span>
                        </div>
                    </div> <!-- end col -->

                    <div class="col-lg-4">
                        <div class="pricing-plan bg-white p-4 mt-4">
                            <div class="pricing-header text-center">
                                <h5 class="plan-title text-uppercase mb-4">Package</h5>
                                <h1><sup><small>£</small></sup>10000.50</h1>
                                <div class="plan-duration text-muted">Per License</div>
                            </div>
                            <ul class="list-unstyled pricing-list mt-4">
                                <li>
                                    <i class="mdi mdi-album"></i>
                                    <p>x</p>
                                </li>
                                <li>
                                    <i class="mdi mdi-lifebuoy"></i>
                                    <p>x<p>
                                </li>
                                <li>
                                    <i class="mdi mdi-update"></i>
                                    <p>x</p>
                                </li>
                                <li>
                                    <i class="mdi mdi-earth"></i>
                                    <p>x<p>
                                </li>
                                <li>
                                    <i class="mdi mdi-history"></i>
                                    <p>x</p>
                                </li>
                                <li>
                                    <i class="mdi mdi-alarm-check"></i>
                                    <p>x</p>
                                </li>
                            </ul>
                            <div class="text-center mt-5">
                                <a href="#" class="btn btn-primary">Purchase Now</a>
                            </div>
                        </div>
                    </div> <!-- end col -->
                </div>
                <!-- end row -->
            </div> <!-- end col-xl-10 -->

        </div>
        <!-- end row -->
    </div>
    <!-- end container-fluid -->
</section>
<!-- pricing end -->

<!-- faqs start -->
<section class="section" id="faq">
    <div class="container-fluid">

        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-5">
                    <h3>Frequently Asked Questions</h3>
                    <p class="text-muted">At solmen va esser necessi far uniform grammatica.</p>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row">
            <div class="col-lg-5 offset-lg-1">
                <!-- Question/Answer -->
                <div>
                    <div class="faq-question-q-box">Q.</div>
                    <h4 class="faq-question">What is Lorem Ipsum?</h4>
                    <p class="faq-answer mb-4 pb-1 text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </div>

                <!-- Question/Answer -->
                <div>
                    <div class="faq-question-q-box">Q.</div>
                    <h4 class="faq-question">Why use Lorem Ipsum?</h4>
                    <p class="faq-answer mb-4 pb-1 text-muted">Lorem ipsum dolor sit amet, in mea nonumes dissentias dissentiunt, pro te solet oratio iriure. Cu sit consetetur moderatius intellegam, ius decore accusamus te. Ne primis suavitate disputando nam. Mutat convenirete.</p>
                </div>

                <!-- Question/Answer -->
                <div>
                    <div class="faq-question-q-box">Q.</div>
                    <h4 class="faq-question">How many variations exist?</h4>
                    <p class="faq-answer mb-4 pb-1 text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </div>

            </div>
            <!--/col-lg-5 -->

            <div class="col-lg-5">
                <!-- Question/Answer -->
                <div>
                    <div class="faq-question-q-box">Q.</div>
                    <h4 class="faq-question">Is safe use Lorem Ipsum?</h4>
                    <p class="faq-answer mb-4 pb-1 text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </div>

                <!-- Question/Answer -->
                <div>
                    <div class="faq-question-q-box">Q.</div>
                    <h4 class="faq-question">When can be used?</h4>
                    <p class="faq-answer mb-4 pb-1 text-muted">Lorem ipsum dolor sit amet, in mea nonumes dissentias dissentiunt, pro te solet oratio iriure. Cu sit consetetur moderatius intellegam, ius decore accusamus te. Ne primis suavitate disputando nam. Mutat convenirete.</p>
                </div>

                <!-- Question/Answer -->
                <div>
                    <div class="faq-question-q-box">Q.</div>
                    <h4 class="faq-question">License &amp; Copyright</h4>
                    <p class="faq-answer mb-4 pb-1 text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </div>

            </div>
            <!--/col-lg-5-->
        </div>
        <!-- end row -->

    </div> <!-- end container-fluid -->
</section>
<!-- faqs end -->

<!-- testimonial start -->
<section class="section bg-light" id="clients">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-4">
                    <h3>What our disciples are saying</h3>
                    <p class="text-muted">Look at our raving testicles.</p>
                </div>
            </div>
        </div>
        <!-- end row -->
        <div class="row">
            <div class="col-lg-4">
                <div class="testi-box mt-4">
                    <div class="testi-desc bg-white p-4">
                        <p class="text-muted mb-0">"Brilliant. Though not sure why he's wearing his granny's kitchen cloth."</p>
                    </div>
                    <div class="p-4">
                        <div class="testi-img float-left mr-2">
                            <img src="/template-assets/landing/testi/img-2.png" alt="" class="rounded-circle">
                        </div>
                        <div>
                            <h5 class="mb-0">Michael Morrell</h5>
                            <p class="text-muted m-0"><small>- Genuine Basketball Player</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->
            <div class="col-lg-4">
                <div class="testi-box mt-4">
                    <div class="testi-desc bg-white p-4">
                        <p class="text-muted mb-0">"Has anyone noticed how sleepy this product makes you?!"</p>
                    </div>
                    <div class="p-4">
                        <div class="testi-img float-left mr-2">
                            <img src="/template-assets/landing/testi/img-1.png" alt="" class="rounded-circle">
                        </div>
                        <div>
                            <h5 class="mb-0">John Seidel</h5>
                            <p class="text-muted m-0"><small>- Once held his breath for 3 seconds</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->
            <div class="col-lg-4">
                <div class="testi-box mt-4">
                    <div class="testi-desc bg-white p-4">
                        <p class="text-muted mb-0">"Not only do I love the features. But the logical pricing is ace too."</p>
                    </div>
                    <div class="p-4">
                        <div class="testi-img float-left mr-2">
                            <img src="/template-assets/landing/testi/img-3.png" alt="" class="rounded-circle">
                        </div>
                        <div>
                            <h5 class="mb-0">Robert Taylor</h5>
                            <p class="text-muted m-0"><small>- A racist moron</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->
        </div> 
        <!-- end row -->
    </div> 
    <!-- end container-fluid -->
</section>
<!-- testimonial end -->

<!-- contact start -->
<section class="section pb-0 bg-gradient" id="contact">
    <div class="bg-shape">
        <img src="/template-assets/landing/bg-shape-light.png" alt="" class="img-fluid mx-auto d-block">
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="title text-center mb-4">
                    <h3 class="text-white">Try us for free</h3>
                    <p class="text-white-50">Sign up and have 30 days free on us</p>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row justify-content-center">
            <div class="col-lg-6">

                <div class="custom-form p-5 bg-white mb-5">
                    <div id="message"></div>
                    <form method="post" action="php/contact.php" name="contact-form" id="contact-form">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input name="name" id="name" type="text" class="form-control" placeholder="Enter your name...">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="email">Email address</label>
                                    <input name="email" id="email" type="email" class="form-control" placeholder="Enter your email...">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="email">Password</label>
                                    <input name="email" id="email" type="password" class="form-control" placeholder="Enter your password...">
                                </div>
                            </div>
                        </div>
                        <!-- end row -->

                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <input type="submit" id="submit" name="send" class="submitBnt btn btn-primary btn-block" value="Sign Up">
                                <div id="simple-msg"></div>
                            </div>
                        </div>
                        <!-- end row -->
                    </form>
                </div>
                <!-- end custom-form -->
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container-fluid -->
</section>
<!-- contact end -->

<!-- cta start -->
<section class="section-sm bg-light">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-9">
                <h3 class="mb-0 mo-mb-20">Need some help getting shizzle explained?</h3>
            </div>
            <div class="col-md-3">
                <div class="text-md-right">
                    <a href="#" class="btn btn-outline-dark btn-rounded"><i class="mdi mdi-email-outline mr-1"></i> Contact Us</a>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container-fluid -->
</section>
<!-- cta end -->