<%- content_for :head_css do %>
  
<% end %>
<div class="wrapper">
            <div class="container">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <h1 class="page-title">Notifications</h1>
                        </div>
                    </div>
                </div>     
                <!-- end page title --> 

                <div class="row">
                    <div class="col-12">

                        <ul class="list-group">

                          <li class="list-group-item" style="padding: 1.25rem 1.25rem;";><a href="#"> <i class="fe-x space"></i></a>  Colleague Name <a href="#"> recognised you</a> <span class="text-small float-right text-muted">Just Now</span></li>

                          <li class="list-group-item" style="padding: 1.25rem 1.25rem;"><a href="#"> <i class="fe-x space"></i></a><a href="#"> Team Shoutout</a> from Manager Name <span class="text-small float-right text-muted">1 day ago</span></li>

                          <li class="list-group-item" style="padding: 1.25rem 1.25rem;"><a href="#"> <i class="fe-x space"></i></a> Manager Name <a href="#"> rewarded you</a> <span class="text-small float-right text-muted">15 days ago</span></li>

                          <li class="list-group-item" style="padding: 1.25rem 1.25rem;"><a href="#"> <i class="fe-x space"></i></a> You've been gifted <a href="#"> 1 day holiday</a> by Team Manager <span class="text-small float-right text-muted">20 days ago</span></li>

  

                        </ul>
                        

                        
                    </div> <!-- end col-->
                </div>
                <!-- end row-->
                
            </div> <!-- end container -->
        </div><%- content_for :footer_js do %>
  
<% end %>
