<header id="topnav">
<!-- Topbar Start -->
<div class="navbar-custom" style="box-shadow: 0 2px 2px -2px rgba(0,0,0,.2)";>
    <div class="container-fluid">
        <ul class="list-unstyled topnav-menu float-right mb-0">

            <li class="dropdown notification-list">
                <!-- Mobile menu toggle-->
                <a class="navbar-toggle nav-link">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <!-- End mobile menu toggle-->
            </li>
    

            <li class="notification-list">
                <a class="nav-link" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                    <i class="fe-search noti-icon"></i>
                </a>
            </li>

            <li class="notification-list d-none d-lg-block">
                <a class="nav-link" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                    <i class="mdi mdi-wallet-outline noti-icon"></i>
                </a>
            </li>
            
            <li class="dropdown notification-list">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                    <i class="fe-bell noti-icon"></i>
                    <span class="badge badge-primary rounded-circle noti-icon-badge">4</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-lg">
    
                    <!-- item-->
                    <div class="dropdown-item noti-title">
                        <h5 class="m-0">
                            <span class="float-right">
                                <a href="" class="text-dark">
                                    <small>Clear All</small>
                                </a>
                            </span>Notification
                        </h5>
                    </div>
    
                    <div class="slimscroll noti-scroll">
    
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <div class="notify-icon">
                                <img src="/template-assets/images/users/elsa.jpg" class="img-fluid rounded-circle" alt="" /> </div>
                            <p class="notify-details">Colleague Name recognised you</p>
                            <p class="text-muted mb-0 user-msg">
                                <small>Just now</small>
                            </p>
                        </a>
    
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <div class="notify-icon bg-info">
                                <i class="mdi mdi-comment-account-outline"></i>
                            </div>
                            <p class="notify-details">Team Shoutout from Manager Name
                                <small class="text-muted">1 day ago</small>
                            </p>
                        </a>

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <div class="notify-icon">
                                <img src="/template-assets/images/users/paul.jpg" class="img-fluid rounded-circle" alt="" /> </div>
                            <p class="notify-details">Manager Name rewarded you</p>
                            <p class="text-muted mb-0 user-msg">
                                <small>15 days ago</small>
                            </p>
                        </a>

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <div class="notify-icon bg-pink">
                                <i class="fe-gift"></i>
                            </div>
                            <p class="notify-details">You've been gifted 1 day holiday by Team Manager
                                <small class="text-muted">20 days ago</small>
                            </p>
                        </a>
                    </div>
    
                    <!-- All-->

                    <a href="/admin/notifications" class="dropdown-item text-center text-primary notify-item notify-all">View All <i class="fi-arrow-right"></i></a>

    
                </div>
            </li>
    
            <li class="dropdown notification-list">
                <a class="nav-link dropdown-toggle nav-user mr-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                    <img src="/template-assets/images/users/bill.jpg" alt="user-image" class="rounded-circle">
                    <span class="pro-user-name ml-1">
                        Bill Hewitt <i class="mdi mdi-chevron-down"></i> 
                    </span>
                </a>
                <div class="dropdown-menu dropdown-menu-profile dropdown-menu-right dropdown-xl">
                    <!-- item-->
                    <div class="dropdown-header noti-title">
                        <h5 class="text-overflow m-0">Welcome !</h5>
                    </div>
    
                    <!-- item-->
                    <a href="/admin/profile" class="dropdown-item notify-item">
                        <i class="fe-user"></i>
                        <span class="ml-1">Your Profile</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item d-lg-none">
                        <i class="mdi mdi-wallet-outline noti-icon wallet"></i>
                        <span class="ml-1">Your Wallet</span>
                    </a>
    
                    <!-- item-->
                    <a href="/admin/profile#aboutme" class="dropdown-item notify-item">
                        <i class="fe-credit-card"></i>
                        <span class="ml-1">Your Purchases & Redemptions</span>
                    </a>

                     <!-- item-->
                    <a href="/admin/profile#timeline" class="dropdown-item notify-item">
                        <i class="fe-thumbs-up"></i>
                        <span class="ml-1">Your Recognition & Shoutouts</span>
                    </a>
    
                    <!-- item-->
                    <a href="/admin/profile#settings" class="dropdown-item notify-item">
                        <i  class="fe-award"></i>
                        <span class="ml-1">Your Rewards & Incentives</span>
                    </a>
    
                    <div class="dropdown-divider"></div>
    
                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="fe-help-circle"></i>
                        <span class="ml-1">Help & Support</span>
                    </a>

                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="fe-log-out"></i>
                        <span class="ml-1">Logout</span>
                    </a>
    
                </div>
            </li>
    
        </ul>
    
        <!-- LOGO -->
        <div class="logo-box">
            <a href="index.html" class="logo text-center">
                <span class="logo-lg">
                    <img src="/template-assets/images/perkbox2.png" alt="" height="44">
                    <!-- <span class="logo-lg-text-light">UBold</span> -->
                </span>
                <span class="logo-sm">
                    <!-- <span class="logo-sm-text-dark">U</span> -->
                    <img src="/template-assets/images/perkboxlogo.png" alt="" height="44">
                </span>
            </a>
        </div>
    
        <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
            
            <li class="dropdown d-none d-lg-block">
                <a class="nav-link active" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                    The Hub
                </a>
            </li>

            <li class="dropdown d-none d-lg-block">
                <a class="nav-link" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                    Gifted
                </a>
            </li>
    
            <li class="dropdown dropdown-mega d-none d-lg-block">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                    Collections
                    <i class="mdi mdi-chevron-down"></i> 
                </a>
                <div class="dropdown-menu dropdown-megamenu" style="padding: 30px;">
                    <div class="row">
                        <div class="col-sm-9">
                            
                            <div class="row">

                                <div class="col-md-3">
                                    <h5 class="text-dark mt-0">Company Name Extras</h5>
                                    <ul class="list-unstyled megamenu-list">
                                        <li>
                                            <a href="javascript:void(0);">View All</a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-md-3">
                                    <h5 class="text-dark mt-0">Everyday Offers</h5>
                                    <ul class="list-unstyled megamenu-list">
                                        <li>
                                            <a href="javascript:void(0);">View All</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">Discount Codes</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">Gift Cards</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">Card-Linked</a>
                                        </li>
                                    </ul>
                                </div>
    
                                <div class="col-md-3">
                                    <h5 class="text-dark mt-0">Learning & Development</h5>
                                    <ul class="list-unstyled megamenu-list">
                                        <li>
                                            <a href="javascript:void(0);">View All</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">Books</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">Online Courses</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">Events</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">Mentoring & Tuition</a>
                                        </li>
                                    </ul>
                                </div>
    
                                <div class="col-md-3">
                                    <h5 class="text-dark mt-0">Health & Support</h5>
                                    <ul class="list-unstyled megamenu-list">
                                        <li>
                                            <a href="javascript:void(0);">View All</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">Health Promotion</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">Employee Support</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">Insurance</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="text-center mt-3">
                                <h3 class="text-dark">Specific promotion</h3>
                                <h4>Save up to 40%</h4>
                                <button class="btn btn-light btn-rounded mt-3">Redeem Code</button>
                            </div>
                        </div>
                    </div>
    
                </div>
            </li>
        </ul>
    </div> <!-- end container-fluid-->
</div>
<!-- end Topbar -->

 <div class="topbar-menu d-lg-none">
    <div class="container-fluid">
        <div id="navigation">
            <!-- Navigation Menu-->
            <ul class="navigation-menu">

                <li class="">
                    <a href="#">
                        The Hub
                    </a>
                </li>

                <li class="">
                    <a href="#">
                        Gifted
                    </a>
                </li>

                <li class="has-submenu">
                    <a href="#">
                        Collections <div class="arrow-down"></div>
                    </a>

                    <ul class="submenu">
                        <li class="">
                            <a href="#">Company Extras</a>
                        </li>
                        <li class="">
                            <a href="#">Everyday Offers</a>
                        </li>
                        <li class="">
                            <a href="#">Learning & Development</a>
                        </li>
                        <li class="">
                            <a href="#">Health & Support</a>
                        </li>
                    </ul>
                </li>

            </ul>
            <!-- End navigation menu -->

            <div class="clearfix"></div>
        </div>
        <!-- end #navigation -->
    </div>
    <!-- end container -->
</div>
<!-- end navbar-custom -->
 </header>